<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!--link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    
    <img src="/images/pizza.jpg" alt="Pizza" style="width:128px;height:128px;">
    
    <div class="container">
      
      {{ content }}
    
      
    </div>
    <footer>
      <ul>
        <p>Links</p>
        <li><a href="https://github.com/cah2002">github.com/cah2002</a></li>
        <li><a href="https://cah2002.github.io">cah2002.github.io </a></li>
      </ul>
    </footer>
  </body>
</html>
